{% extends "base.html" %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Relacionamentos (PK-FK)</li>
{% endblock %}

{% block content %}
<div class="card text-white bg-secondary">
    <div class="card-body">
        <form method="post" action="{% url 'relationships:constraint-load' %}" role="form">{% csrf_token %}
            <div class="input-group mb-3">
                <select class="form-select" aria-label="Banco_de_dados" aria-describedby="button_load" name="database" id="form_select_db">
                    <option value="Banco_de_dados" {% if database == "Banco_de_dados" %}selected{% endif %}>Banco_de_dados</option>
                    <option value="FKSOLUTIONS" {% if database == "FKSOLUTIONS" %}selected{% endif %}>FKSOLUTIONS</option>
                    <option value="FKSolutions" {% if database == "FKSolutions" %}selected{% endif %}>FKSolutions</option>
                </select>
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-dark" type="submit" id="button_load" data-bs-toggle="modal" data-bs-target="#status_modal_spinner">
                    <i class="fas fa-download"></i> Carregar (PK-FK)
                </button>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-9">
                {% if object_list %}
                    <form method="GET" action="{% url 'relationships:constraint-list' %}" role="form">
                        <div class="input-group mb-3">
                            <input type="hidden" name="database" value="{{ database }}">
                            <input type="text" class="form-control" name="kw" value="{{ kw }}" placeholder="Pesquisar por tabela">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-dark"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                {% endif %}
            </div>
            <div class="col-sm-3" style="margin-right: 0">
                {% if is_paginated %}
                    <div class="float-end">{% include "pagination.html" %}</div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card-body">
        {% for obj in object_list %}
        <table class="table table-dark">
            <thead>
                <th>{{ obj.table_name }} - [Constraint]</th>
            </thead>
            <tbody>
                <tr class="table-active">
                    <td>
                        <div class="row">
                            <div class="col-8">
                                <table class="table table-dark">
                                    <thead>
                                        <th>Tabela Referenciada (FK)</th>
                                        <th>Coluna de referência (FK)</th>
                                        <th>Coluna referenciada</th>
                                        <th style="width: 70px;"></th>
                                    </thead>
                                    <tbody>
                                    {% for relative in obj.relative_table %}
                                        <tr class="table-active">
                                            <td>{{ relative.principal_table.table_name }}</td>
                                            <td>{{ relative.secondary_column_name.column_name }}</td>
                                            <td>{{ relative.principal_column_name.column_name }}</td>
                                            <td>
                                                <a class="btn btn-outline-secondary" href="{% url 'relationships:constraint-remove' pk=relative.id key='FK' page=page_obj.number %}?database={{ database }}&kw={{ kw }}">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <table class="table table-dark">
                                    <thead>
                                        <th>Constraint (Column - PK)</th>
                                        <th style="width: 70px;"></th>
                                    </thead>
                                    <tbody>
                                    {% for column in obj.table_columns %}
                                        {% if column.primary_key %}
                                        <tr class="table-active">
                                            <td>{{ column.column_name }}</td>
                                            <td>
                                                <a class="btn btn-outline-secondary" href="{% url 'relationships:constraint-remove' pk=column.id key='PK' page=page_obj.number %}?database={{ database }}&kw={{ kw }}">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                        <tr>
                                            <td>
                                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                    <a class="btn btn-outline-secondary" href="{% url 'relationships:constraint-remove' pk=obj.table_id page=page_obj.number key='ALL-PK' %}?database={{ database }}&kw={{ kw }}">
                                                        <i class="fas fa-trash-alt"></i> Remover chave primária
                                                    </a>
                                                </div>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-4">
                                <div class="card bg-dark text-white" style="height: 100%;">
                                    <h5 class="card-header">Adicionar relacionamentos</h5>
                                    <div class="card-body" style="height: 100%;">
                                        <form method="post" action="{% url 'relationships:constraint-add' %}?database={{ database }}&kw={{ kw }}&page={{ page_obj.number }}" role="form" style="height: 100%;">{% csrf_token %}
                                            <div class="mb-3">
                                                <select class="selectpicker" aria-label="Tabelas" data-live-search="true" data-width="100%" name="principal_table" id="select-tables-id">
                                                {% for table in tables %}
                                                    {% if obj.table_id != table.id %}
                                                    <option value="{{ table.id }}">{{ table.table_name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                                </select>
                                                <div class="form-text" id="select-tables-id">Selecione a <b>tabela referenciada</b> (FK).</div>
                                            </div>
                                            <div class="mb-3">
                                                <select class="form-select" name="principal_column" id="select-columns-id" style="background-color: #373b3e; color: white;">
                                                    <option value="0">Coluna referenciada (FK)</option>
                                                </select>
                                                <div class="form-text" id="select-columns-id" >Selecione a <b>coluna referenciada</b> (FK).</div>
                                            </div>
                                            <div class="mb-3">
                                                <select class="form-select" name="secondary_column" id="select-secondary-column" style="background-color: #373b3e; color: white;">
                                                    <option value="0">Coluna de referência (FK/PK)</option>
                                                    {% for column in obj.table_columns %}
                                                        <option value="{{ column.id }}">{{ column.column_name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <div class="form-text" id="select-secondary-column" >Selecione a <b>coluna de referência</b> (FK/PK).</div>
                                            </div>
                                            <input type="hidden" class="form-control" name="secondary_table" value="{{ obj.table_id }}" required>
                                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                <button class="btn btn-dark" type="submit" name="btn_pk" value="pk"><i class="fas fa-key" style="color: #BD362F"></i> Adicionar (PK)</button>
                                                <button class="btn btn-dark" type="submit" name="btn_fk" value="fk"><i class="fas fa-key" style="color: #F89406"></i> Adicionar (FK)</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
        {% include "introspection/modal_status_spinner.html" %}
    </div>

</div>
{% endblock %}

{% block javascript %}
<script>
    let select_db = "#form_select_db";
    let select_tables = "#select-tables-id";
    let select_columns = "#select-columns-id";

    $(select_db).change(function() {
        window.location = "{{ request.path }}?database=" + this.value;
    });

    $(select_tables).change(function() {
        let pk = $(this).val();
        $.ajax({
            url: '{% url "relationships:get-columns-by-table" %}',
            data: {
                'csrftoken': $("input[name=csrfmiddlewaretoken]").val(),
                'pk': pk
            },
            dataType: 'json',
            success: function (data) {
                let result = JSON.parse(data["result"]);
                $(select_columns).find('option').remove();

                result.forEach(function(value) {
                    let id = value["id"];
                    let column_name = value["column_name"];
                    $(select_columns).append('<option value="'+ id +'">'+ column_name +'</option>');
                });
            }
        });
    });

</script>
{% endblock %}