{% load static error_count %}<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Shuffle data masking</title>

        <script src="https://kit.fontawesome.com/f26d460e37.js" crossorigin="anonymous"></script>
        <link href="{% static 'assets/css/toastr.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/base.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/css/bootstrap-select.min.css' %}" rel="stylesheet">
        <style>
            .toast {
              background-color: #030303;
            }
            .toast-info {
              background-color: #3276b1;
            }
            .toast-error {
              background-color: #bd362f;
            }
            .toast-success {
              background-color: #51a351;
            }
            .toast-warning {
              background-color: #f89406;
            }
            a.disabled {
                pointer-events: none;
                cursor: default;
            }
        </style>
        {% block styleblock %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-md-block text-white bg-dark sidebar collapse">
                    <div class="position-sticky pt-3">
                        <a href="{% url 'dashboard' %}" class="text-white text-decoration-none">
                            <i class="fas fa-theater-masks fa-2x"></i>&nbsp;&nbsp;&nbsp;
                            <span class="fs-2">Data-Masking</span>
                        </a>
                        <hr>
                        <ul class="nav nav-pills flex-column mb-auto">
                            <li class="nav-item">
                                <a {% if request.resolver_match.url_name == 'introspection-list' %}class="nav-link text-white active" {% else %}class="nav-link text-white"{% endif %} href="{% url 'introspection:introspection-list' %}">
                                    <i class="fas fa-database"></i> Introspection (database)
                                </a>
                            </li>
                            <li class="nav-item">
                                <a {% if request.resolver_match.url_name == 'constraint-list' %}class="nav-link text-white active" {% else %}class="nav-link text-white"{% endif %} href="{% url 'relationships:constraint-list' %}">
                                    <i class="fas fa-key"></i> Relacionamentos (PK-FK)
                                </a>
                            </li>
                            <hr>
                            <li class="nav-item">
                                <a {% if request.resolver_match.url_name == 'reduction-start' %}class="nav-link text-white active" {% else %}class="nav-link text-white"{% endif %} href="{% url 'databasereduction:reduction-start' %}">
                                    <i class="fas fa-database"></i> Redução de bancos (database)
                                </a>
                            </li>
                            <hr>
                            <li class="nav-item">
                                <a {% if request.resolver_match.url_name == 'data-masking-list' %}class="nav-link text-white active" {% else %}class="nav-link text-white"{% endif %} href="{% url 'datamasking:data-masking-list' %}">
                                    <i class="fas fa-mask"></i> Máscara de dados
                                </a>
                            </li>
                            <li class="nav-item">
                                <a {% if request.resolver_match.url_name == 'error-list' %}class="nav-link text-white active" {% else %}class="nav-link text-white"{% endif %} href="{% url 'processerror:error-list' %}">
                                    <i class="fas fa-bug"></i> Manejo de Erros ({% if error_count_simple_tag > 0 %}<span style="color: #BD362F;"><b>{% error_count_simple_tag %}</b></span>{% else %}{% error_count_simple_tag %}{% endif %})
                                </a>
                            </li>
                            <hr>
                            <li class="nav-item">
                                <button type="button" class="btn btn-secondary" id="btn-enable-contraints-id" style="width: 100%"><i class="fas fa-link"></i> Habilitar constraints</button>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="col-md-10 ms-sm-auto" style="background: rgba(108,117,125,0.52);">
                    <div class="content-page">
                        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                            <div class="container-fluid">
                                <a class="navbar-brand" href="#">Bem-vindo {{ request.user.first_name|default:request.user.username }}!</a>
                            </div>
                        </nav>

                        <div class="breadcrumb-card" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                {% block breadcrumbs %}
                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                                {% endblock %}
                            </ol>
                        </div>

                        <div class="content">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'assets/js/sidebar.js' %}"></script>
        <script src="{% static 'assets/js/toastr.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>

        {% if messages %}
        <script>
            $(document).ready(function(){
                toastr.options.timeOut = 0;
                toastr.options.extendedTimeOut = 60;
                toastr.options.closeButton = true;
                {% for message in messages %}
                    {% if message.tags %}
                        toastr["{{ message.tags }}"]("{{ message|escapejs }}");
                    {% endif %}
                {% endfor %}
            });
        </script>
        {% endif %}

        <script>
            let btn_enable = "#btn-enable-contraints-id";

            $(btn_enable).click(function () {
                window.location.href = "{% url 'constraints-enable' %}";
            })
        </script>

        {% block javascript %}{% endblock %}
    </body>
</html>